<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--配置数据库的ConnectionString-->
    <add name="Database" providerName="System.Data.SqlClient" connectionString="Data Source=remote.championimage.com.cn;Initial Catalog=QPIS;Integrated Security=false;User ID=sa;Password=87528001" />
  </connectionStrings>
  <appSettings>
    <!--配置数据库的Connection-->
    <add key="ConnectionName" value="SQLServer"/>
    <!--<add key="Connection" value="MySQL"/>-->
    <!--配置数据库的DAL（value表示命名空间）-->
    <add key="ConsoleDAL" value="SQLServerDAL"/>
    <add key="DbHost" value="remote.championimage.com.cn"/>
  </appSettings>
</configuration>